<!-- Footer -->

<footer class="page-footer font-small unique-color-dark" style="background-color:  #008060">


    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5 " style="background-color:  #008060; color: white ">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold"><br>SERES CAPACES</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Brindar un servicio profesional de educación especial, humano a través de la solidaridad y respeto para así potenciar la autonomía de la persona con discapacidad intelectual</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" >
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold"><br>Links Útiles</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="login.html">Accede</a>
          </p>
          <p>
            <a href="https://www.down21.org/revista-virtual/622-revista-virtual-2005/revista-virtual-junio-2005/articulo-profesional-junio-2005/1989-sugerencias-para-una-accion-educativa.html">Down21.org</a>
          </p>
          <p>
            <a href="#!">Preguntas Frecuentes</a>
          </p>
          <p>
            <a href="#!">Ejemplo2</a>
          </p>
  
        </div>
      
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold"><br>Contacto</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>SEGUNDA PRIVADA DE 20 DE NOVIEMBRE #43, COLONIA SAN FRANCISQUITO, Santiago de Querétaro, Querétaro, México </p>
          <p>
            <i class="fas fa-envelope mr-3"></i>correo@example.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i>+442 125 8553</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: #26c6da;">© 2019 Copyright:
      Página hecha por CUBI-13
    </div>
    <!-- Copyright -->
  
  </footer>
  <script type="text/javascript" src="BOOTSTRAP/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="BOOTSTRAP/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="BOOTSTRAP/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="BOOTSTRAP/js/mdb.js"></script>
  
  </body>
  </html>
    <!-- Footer -->